p {
  margin: 20px; 
}

@media screen and (max-width: 768px) {
  p {
    margin: 10px; 
  }
}

@media screen and (max-width: 480px) {
  p {
    margin: 5px; 
  }
}

body {
    background-color: black;
    font-family: Georgia, serif;
    line-height: 1.6;
    color: #a19d2b;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-weight: bold;
}

/* 
 * Global Styles
 * Common styles for links, lists, etc.
 */
a {
    color: #FFFF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-left: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

